<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kinova_2f_lite_gazebo" params="prefix">

    <gazebo reference="${prefix}gripper_base_link">
        <material>Kortex/Gray</material>
    </gazebo>

    <gazebo reference="${prefix}right_finger_prox_link">
        <material>Kortex/Gray</material>
    </gazebo>

    <gazebo reference="${prefix}right_finger_dist_link">
        <material>Kortex/Blue</material>
    </gazebo>

    <gazebo reference="${prefix}left_finger_prox_link">
        <material>Kortex/Gray</material>
    </gazebo>

    <gazebo reference="${prefix}left_finger_dist_link">
        <material>Kortex/Blue</material>
    </gazebo>

  </xacro:macro>
</robot>